@import "nav"

header
  background-color: rgba(255, 255, 255, .9)
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .2)

  position: fixed
  z-index: 100
  top: 0
  left: 0
  right: 0
  height: 75px

  display: flex
  justify-content: center
  align-items: center

  h1
    color: #FF0064
    flex: 1
    text-transform: uppercase
  h1::first-letter
    font-size: 1.5em

  #burger-button
    display: block
    position: absolute
    right: 10px
    top: 0
    height: 100%
    width: 50px

    background: url('../../../assets/burger-button.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: center
