@import "button.sass"
@import "text.sass"
@import "image.sass"

.article
  background-color: rgba(0, 0, 0, 0.075)
  border-radius: 15px
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.05)

  display: flex
  margin: 20px

  transition: transform 100ms ease-out

.article:hover, .article:active
  transform: scale(1.01)
