.article .image {
  background-image: url('https://picsum.photos/500/?random');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 15px;

  flex: 2;

  box-shadow: 15px 0 15px -15px rgba(0, 0, 0, 0.2);
}
