.article .text
  flex: 5
  padding: 10px

@media (min-width: 600px)
  .article .text
    padding: 20px

a
  text-decoration: none
  color: black

.article .text h1
  font-size: 1.7em
  display: inline

.article .text .description

.article .text .price::after
  content: ' €'

.article .text .price, .article .text .price::after
  font-style: italic
  font-weight: bold
