@import url("https://fonts.googleapis.com/css?family=Catamaran|Heebo|Montserrat|Do+Hyeon|Jua|");
header:hover nav {
  left: 75vw;
  opacity: 0.95;
}
@media (max-width: 900px) {
  header:hover nav {
    left: 0vw;
  }
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100vw;
  background-color: white;
  opacity: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: left 200ms ease-in-out, opacity 100ms ease-in-out;
}
header nav ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  padding: 0;
  margin: 10px 30px;
  font-size: 2em;
}
@media (max-width: 900px) {
  header nav ul {
    text-align: center;
  }
}
header nav ul #close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  background: url("../../../assets/close-button-round.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #FF0064;
  flex: 1;
  text-transform: uppercase;
}
header h1::first-letter {
  font-size: 1.5em;
}
header #burger-button {
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  width: 50px;
  background: url("../../../assets/burger-button-round.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.article .button {
  color: white;
  background-color: #FF0064;
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  float: right;
  padding: 0.25em;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 100ms ease-out, box-shadow 100ms ease-in-out;
}

.article .button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.article .button:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  transition: transform 50ms ease-out, box-shadow 50ms ease-in-out;
  cursor: grabbing;
}

.article .text {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article .text .name {
  margin: 0;
  font-size: 1.7em;
  display: inline;
}

.article .text .description {
  flex: 1;
  margin: 15px 0 15px 0;
  height: 75px;
  overflow: scroll;
}

.article .text .price-and-button {
  display: flex;
}

.article .text .price {
  flex: 1;
  margin: 0 15px 0 0;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

.article .image {
  background-image: url("https://picsum.photos/500/?random");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 15px 0 15px -15px rgba(0, 0, 0, 0.2);
  transition: transform 100ms ease-out, box-shadow 150ms ease-in-out;
}

.article .image:hover {
  transform: scale(1.05);
  box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.25);
}

.article {
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 15px;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.05);
  display: flex;
  margin: 10px;
  box-sizing: border-box;
  transition: transform 100ms ease-out, box-shadow 150ms ease-in-out;
  cursor: pointer;
}
@media (max-width: 900px) {
  .article {
    width: 100%;
  }
}
@media (min-width: 900px) and (max-width: 1350px) {
  .article {
    width: calc(50% - 20px);
  }
}
@media (min-width: 1350px) {
  .article {
    width: calc(33% - 20px);
  }
}

.article:hover, .article:active {
  transform: scale(1.015);
  box-shadow: 0 25px 25px -25px rgba(0, 0, 0, 0.1);
}

#article-list {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}

#content {
  height: 300vh;
  margin-top: 75px;
  flex: 1;
}

footer {
  height: 200px;
  flex: 1;
}

* {
  font-family: Heebo, Montserrat, sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #FEFEFE;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}
