@import "button.css";
@import "text.css";
@import "image.css";

.artikel {
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 15px;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.05);

  display: flex;
  margin: 20px;

  transition: transform 100ms ease-out;
}

.artikel:hover, .artikel:active {
  transform: scale(1.01);
}
