.artikel .image {
  background-image: url('https://picsum.photos/500/?random');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 10px;

  flex: 2;
}
