.artikel .text {
  flex: 5;
  padding: 10px;
}

@media (min-width: 600px) {
  .artikel .text {
    padding: 20px;
  }
}

a {
  text-decoration: none;
  color: black;
}

.artikel .text h1 {
  font-size: 1.7em;
  display: inline;
}

.artikel .text .beschreibung {

}

.artikel .text .preis::after {
  content: ' €';
}

.artikel .text .preis, .artikel .text .preis::after {
  font-style: italic;
  font-weight: bold;
}
